<?xml version="1.0"?>
<!--
/**
 * Customer Prices for Magento 2
 *
 * Copyright © Dmitry Kaplin - All rights reserved.
 * See LICENSE.txt bundled with this module for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Indexer and Cache -->
    <type name="Magento\Framework\App\Http\Context">
        <plugin name="jc_add_customer_context_variable" type="Jeysmook\CustomerPrices\Plugin\Framework\App\Http\ContextPlugin" sortOrder="10"/>
    </type>
    <!-- Indexer and Cache -->
</config>
