<?xml version="1.0"?>
<!--
/**
 * Customer Prices for Magento 2
 *
 * Copyright © Dmitry Kaplin - All rights reserved.
 * See LICENSE.txt bundled with this module for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\ResourceModel\Product\Collection">
        <plugin name="jeysmook_apply_customer_prices_to_collection_select" type="Jeysmook\CustomerPrices\Plugin\Model\ResourceModel\Product\CollectionPlugin" sortOrder="100"/>
    </type>
</config>
