<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Customer Prices for Magento 2
 *
 * Copyright © Dmitry Kaplin - All rights reserved.
 * See LICENSE.txt bundled with this module for license details.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Jeysmook\CustomerPrices\Api\CustomerResolverInterface" type="Jeysmook\CustomerPrices\Model\Command\Backend\CustomerResolver"/>
</config>
